[Unit]
Description=kde_color routine: paints non-kde programs with KDE color scheme
After=graphical.target

[Service]
Type=oneshot
ExecStart=%h/.cargo/bin/kde_color
